.nav-link {
  color: black;
}
.hero-section {
  position: relative;
  margin-top: 30px;
  height: 530px;
  overflow: hidden;
  background: linear-gradient(90deg, #f43838 0%, #d45a5aaf 100%);
}

.hero-mobil {
  position: absolute;
  right: 0;
  top: 70px;
}

.content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}